<!DOCTYPE html>
<html>
  <head>
    <% include header %>
  </head>

<body>
	<div class="container-fluid">
		<h1>Client Usage Metrics (<%= client %>)</h1>
		<figure id="myChart" style="height:500px;"></figure>		
  	</div>

	<script>

	$.getJSON('/client/usage/data/<%= client %>', function(responseData) {
		var data = {
			"xScale": "ordinal",
			"yScale": "linear",
			"type": "bar",
			"main": [
			{
			  "data": responseData
			}
			]
		};

		var opts = {
			dataFormatX: function (x) { return new Date(x); },
			tickFormatX: function (x) { return d3.time.format('%d/%m %X')(x); },
			tickHintY : 0
		};

		var myChart = new xChart('bar', data, '#myChart', opts);
	});
	</script>

</body>
</html>