<!DOCTYPE html>
<html>
  <head>
    <% include header %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <h1><%= title %></h1>
        <h2 id="latestversion"></h2>
        <table class="table">
          <thead>
            <tr>
              <th>Client</th>
              <th>Version</th>
              <th>Released</th>
            </tr>
          </thead>
          <tbody id="clients"></tbody>
        </table>
       <form class="form-inline">
        <input id="addclientname" type="text" class="input-large" placeholder="New Client" >
        <button id="addclient" type="submit" class="btn">Add</button>
      </form>
      </div>
    </div>

    <script>
      var latestVersion = {
        version: 0,
        date: Date.now()
      };

      var dateSort = function(a, b) {
        return parseInt(a.date) < parseInt(b.date);
      };

      var loadClients = function() {
        $.getJSON('/clients/list', function(data) {
          $('#clients').empty();
          $.each(data.sort(dateSort), function(i, client) {
            var current = moment(client.date);
            var latest = moment(Date.now());

            var monthDiff = latest.diff(current, 'months');
            var c = 'success';
            if(monthDiff > 2) {
              c = 'warning';
            }
            if(monthDiff > 6) {
              c = 'error';
            }

            $('#clients').append('<tr class="' + c + '"><td><a href="/client/' + client.name + '">' + client.name + '</a></td><td class="version">' + client.version + '</td><td>' + moment(client.date).from(latest) + '</td></tr>');
          });
        });
      }

      var loadLatestVersion = function() {
        $.getJSON('/versions/latest', function(data) {
          latestVersion = data;
          $('#latestversion').html("Version " + latestVersion.version +  " was released " + moment(latestVersion.date).fromNow());
          loadClients();
        });
      };

      $(document).ready(function()
      {
        loadLatestVersion();
        setInterval(loadLatestVersion, 30000);
        $("#addclient").click(function() {  
          var name = $("#addclientname").val();
          if(latestVersion.version != 0 && name != "") {
            $.post('/client', { name : name, version:latestVersion.version  }, function() {
              loadClients();
              $("#addclientname").val('');
            });
          }
          return false;
        });  
      });
    </script>

  </body>
</html>