<!DOCTYPE html>
<html>
  <head>
    <% include header %>
    <script src="/javascripts/clientversions.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <h1><%= title %></h1>
        <h2 id="latestversion"></h2>
        <table class="table">
          <thead>
            <tr>
              <th>Client</th>
              <th>Version</th>
              <th>Released</th>
              <th>Licence</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="clients"></tbody>
        </table>
       <form class="form-inline">
        <input id="addclientname" type="text" class="input-large" placeholder="New Client" >
        <button id="addclient" type="submit" class="btn">Add</button>
      </form>
      </div>
    </div>
  </body>
</html>