<!DOCTYPE html>
<html>
  <head>
    <% include header %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1><%= title %></h1>
        <h3>Out There Measurements</h3>
        <ul>
        <li><a href="/clients/versions/">What versions are the clients on?</a></li>
        </ul>
        <h3>In Here Measurements</h3>
      </div>
    </div>
  </body>
</html>